html {
    background-color: #f5f5f5;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.page-header {
    margin-bottom: 2rem;
}

.add-quiz-button,
.add-question-button {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.question-list {
    margin-bottom: 1rem;
}

.question-editor {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.answer-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.answer-group input[type="text"] {
    flex-grow: 1;
    margin-right: 1rem;
}
