name: Deploy Jaspr Admin App
on:
  push:
    branches: [main]
    paths:
      - "packages/pub_quiz_admin/**"
      - ".github/workflows/deployment-jaspr.yml"
      - "packages/pub_quiz_server/docker-compose.production.yaml"
  workflow_dispatch:

jobs:
  build-jaspr-app:
    name: Build Jaspr App
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/pub_quiz_admin
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Install Jaspr CLI
        run: dart pub global activate jaspr_cli

      - name: Build Jaspr app
        run: jaspr build --dart-define=SERVER_URL=${{ secrets.ADMIN_URL }} --dart-define=SERVERPOD_API_SERVER_PUBLIC_HOST=${{ secrets.SERVERPOD_API_SERVER_PUBLIC_HOST }}

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: admin-app-build
          path: packages/pub_quiz_admin/build/jaspr
          if-no-files-found: error

  deploy-jaspr-app:
    needs: build-jaspr-app
    name: Deploy Jaspr App to Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: admin-app-build
          path: build_output

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "mkdir -p /var/www/pub_quiz_admin && rm -rf /var/www/pub_quiz_admin/*"
          
          scp -r build_output/* ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/pub_quiz_admin/

          scp packages/pub_quiz_server/docker-compose.production.yaml ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/docker-compose.production.yaml

          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            touch .env
            sed -i '/^ADMIN_URL=/d' .env
            echo 'ADMIN_URL=${{ secrets.ADMIN_URL }}' >> .env
            
            docker compose -f ~/docker-compose.production.yaml up -d --no-deps admin-frontend
          "
      - name: Cleanup SSH key
        if: always()
        run: rm -rf ~/.ssh
