name: Deploy TV App
on:
  push:
    branches: [main]
    paths:
      - "packages/pub_quiz_tv/**"
      - ".github/workflows/deployment-tv.yml"
      - "packages/pub_quiz_shared/**"
      - "packages/pub_quiz_widgets/**"
      - "packages/pub_quiz_server/docker-compose.production.yaml"
  workflow_dispatch:

jobs:
  build-tv-app:
    name: Build Flutter Web TV App
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/pub_quiz_tv
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web App
        run: >
          flutter build web --release 
          --dart-define=SERVERPOD_API_SERVER_PUBLIC_HOST=${{ secrets.SERVERPOD_API_SERVER_PUBLIC_HOST }}

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tv-app-build
          path: packages/pub_quiz_tv/build/web
          if-no-files-found: error

  deploy-tv-app:
    needs: build-tv-app
    name: Deploy TV App to Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: tv-app-build
          path: build_output

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "mkdir -p /var/www/pub_quiz_tv && rm -rf /var/www/pub_quiz_tv/*"
          
          scp -r build_output/* ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/pub_quiz_tv/

          scp packages/pub_quiz_server/docker-compose.production.yaml ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/docker-compose.production.yaml
          scp packages/pub_quiz_server/nginx-spa.conf ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/nginx-spa.conf

          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            touch .env
            
            sed -i '/^TV_URL=/d' .env
            echo 'TV_URL=${{ secrets.TV_URL }}' >> .env
            
            docker compose -f ~/docker-compose.production.yaml up -d --no-deps tv-frontend
          "

      - name: Cleanup SSH key
        if: always()
        run: rm -rf ~/.ssh
